src/node_modules
src/client/portfolio
.vagrant
build/.clone
build/.stage
src/client/css/style.min.css
src/client/js/scripts.min.js
src/client/js/bundle.js
src/client/js/bundle.min.js
src/client/css/bundle.css
src/client/css/bundle.min.css
src/client/json/galleries
src/client/json/settings.ejs
build/.stage.tar.gz
build/content
