<html>
    <head>
        <title>Manafeed</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta http-equiv="content-type" name="description" content="Art by Shukri Adams" />
        <meta http-equiv="content-type" name="keywords" content="Manafeed, Shukri Adams, Shukri, Adams, photographer, photography, dark, art, surreal, horror, melancholy" />


        <meta property="og:title" content="Manafeed" />
        <meta property="og:description" content="Art by Shukri Adams" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://www.manafeed.com" />
        <meta property="og:image" content="http://www.manafeed.com/portfolio/mm/mm71.jpg" />

        <link rel="stylesheet" href="/css/galleriffic-5.css" />
        <link rel="stylesheet" href="/css/basic.css" />
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div id="fb-root"></div>
        <div data-role="content-root">
            <div id="pageLoader">
                loading <span id="progress"></span>
            </div>
        </div>
    </body>
    <script data-main="/js/setup"  src="/lib/require.js"></script>
    <script type="text/javascript">
    
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        
        try {
            var pageTracker = _gat._getTracker("UA-1901384-3");
            pageTracker._trackPageview();
        } catch (err) { }
        
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=140032826030820";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

    </script>
</html>