<html>
    <head>

    </head>
    <body>
        <h2>Oops, your browser doesn't work here.</h2>
        <p>
            Welcome to my portfolio. Unfortunately, your browser {{browser}} is not supported on this site. Please check out <a href="http://browsehappy.com/">Browsehappy</a>
            for information on how to upgrade to a modern browser.
        </p>
    </body>
</html>