<div class="darkPage">
    <div class="thinPageContent">
        <h2>Biog</h2>
        <hr />
        <p>
            There isn't much to say really. I've lived in a few places like South Africa, Saudi Arabia and Denmark.
            I'm a programmer, I studied zoology, and I do art for fun - serious fun.
        </p>
        <p>
            I did some technical illustration at university,
            started photography in 2007 when I got my first DSLR, and since then I drifted into
            analog photography and then painting. And here I am.
        </p>
        <p>
            My main influences are music, painters and movies. Most of my pieces are done in Photoshop, and
            mix varying amounts of photo textures and digital painting. I shoot my own "stock".
            I occasionally mix in traditional media like acrylics, oils and pens.
        </p>

        <h2>Email</h2>
        <hr />
        <p>
            You can reach me at <strong>shukri.adams /at/ gmail.com</strong>
        </p>
        <h2>I'm online elsewhere</h2>
        <hr />
        <p>
            <a href="https://www.facebook.com/manafeed">Facebook</a><br/>
            <a href="http://www.flickr.com/photos/innerfire">Flickr</a><br/>
            <a href="http://www.last.fm/user/Snutskallar">Last.fm</a><br/>
            <a href="http://www.twitter.com/shukriadams">Twitter</a><br/>
        </p>
    </div>
</div>