<div class="darkPage">
    <div class="thinPageContent">
        <h2>Order complete</h2>
        <p>
             Thanks for supporting my work! It normally takes about a week to process shipping if your item is in stock, but it can take several weeks if
             printing is required.
        </p>
    </div>
</div>
