<div data-page="home">
    <div id="frame">
        <a href="javascript:void(0)" data-route="{{ obj.startRoute }}">
            <img src="/portfolio/images/{{ obj.mainImage }}" />
            <p>
                more >
            </p>
        </a>
    </div>
</div>