<div data-page="home">
    <div id="frame">
        <a href="javascript:void(0)" data-route="portfolio/{{ obj.splashGallery }}">
            <img src="/portfolio/images/{{ obj.splashImage }}" />
            <p>
                more >
            </p>
        </a>
    </div>
</div>