<div class="darkPage">
    <div class="thinPageContent">
        <h2>Partners in crime</h2>
        <hr />
        <p>
            <a href="http://www.modelmayhem.com/94499">Cecilia</a><br/>
        </p>
        <h2>Artists I like</h2>
        <hr />
        <p>
            <a href="http://www.beksinski.pl">Zdzislaw Beksinski</a><br/>
            <a href="http://www.hrgiger.com">H.R Giger</a><br/>
            <a href="http://www.lassehoile.com">Lasse Hoile</a><br/>
            <a href="http://stephenkasner.com">Stephen Kasner</a><br/>
            <a href="http://kuksi.com/">Kris Kuksi</a><br/>
            <a href="http://www.vincelocke.com">Vince Locke</a><br/>
            <a href="http://www.ashleywoodartist.com">Ashley Wood</a><br/>
            <a href="http://www.fredrikodman.se">Fredrik Ödman</a><br/>
        </p>
        <h2>And most importantly, bands that inspire me</h2>
        <hr />
        <p>

            <a href="http://www.amorphis.net">Amorphis</a><br/>
            <a href="http://www.interpolnyc.com">Interpol</a><br/>
            <a href="http://kent.nu">Kent</a><br/>
            <a href="http://www.moonsorrow.com">Moonsorrow</a><br/>
            <a href="http://www.tenhi.com">Tenhi</a><br/>
            <a href="http://www.wolvesinthethroneroom.com">Wolves in the throne room</a><br/>
        </p>
        <p>
            (in no particular order and by no means exhaustive)
        </p>
    </div>
</div>