<div id="wrapper">

    <div id="header">
        <div id="title"><span id="main"><a href="javascript:void(0)" data-route="/">manafeed</a></span><div id="subtitle">art by shukri adams</div> </div>
        <div id="headers">
            <div id="topheader">
                <ul>
                    {% for (var i = 0; i < obj.menu.length ; i ++) { %}
                        <li><a data-link-key="{{ obj.menu[i].key }}" href="javascript:void(0)"  data-route="{{ obj.menu[i].route }}">{{ obj.menu[i].text }}</a></li>
                    {% } %}
               </ul>
            </div>
            <div id="subheader">

            </div>
        </div>
    </div>
    <div id="content">

    </div>

    <div id="footer">
        <div class="footer-item">
            <div class="fb-page" data-href="https://www.facebook.com/manafeed" data-width="250" data-height="70" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/manafeed"><a href="https://www.facebook.com/manafeed">Shukri Adams - Art</a></blockquote></div></div>
        </div>
        <ul class="footer-item facebook">
            <li>Code / design by Shukri Adams.</li>
            <li>Based on a layout by <a href="http://www.cancerbox.com/photoblog/" title="">Cancerbox</a>,
                gallery by <a href="http://www.twospy.com/galleriffic">Twospy</a>.</li>
        </ul>

    </div>
</div>

