<div id="wrapper">

    <div id="header">
        <div id="title"><span id="main"><a href="javascript:void(0)" data-route="/">{{obj.title}}</a></span><div id="subtitle">{{obj.subtitle}}</div> </div>
        <div id="headers">
            <div id="topheader">
                <ul>
                    {% for (var i = 0; i < obj.menu.length ; i ++) { %}
                        <li><a data-link-key="{{ obj.menu[i].key }}" href="javascript:void(0)"  data-route="{{ obj.menu[i].route }}">{{ obj.menu[i].text }}</a></li>
                    {% } %}
               </ul>
            </div>
            <div id="subheader">

            </div>
        </div>
    </div>
    <div id="content">

    </div>

    <div id="footer">
        <div class="footer-item">
            {{obj.footer}}            
        </div>
        <ul class="footer-item facebook">
            <li>Code / design by <a href="https://github.com/shukriadams/gallery">Shukri Adams</a></li>
            <li>Based on a layout by <a href="http://www.cancerbox.com/photoblog/" title="">Cancerbox</a>,
                gallery by <a href="http://www.twospy.com/galleriffic">Twospy</a>.</li>
        </ul>

    </div>
</div>

